/* все padding & border  эл-тов будут вычитаться изнутри */
*{
    box-sizing: border-box;
}

a {
    /*убрать подчеркивание ссылок */
    text-decoration: none;
     /*ссылки строчно-блочные*/
    display: inline-block;
}

ul,
li{
    /*отключить маркеры*/
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    /*чтобы не было нижнего скролла при сужении*/
    max-width:1185px;
    margin: 0 auto;
    /*чтобы контейнер не прилипал к стенкам экрана планшета /телефона*/
    padding: 0 15px;
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
 header{
     font-family: 'Roboto', sans-serif;
 }
 .header__top{
     background-color: #303030;

 }

 .header__btn{
     float: right;
     line-height: 36px;
     color: #1b1b1b;

     background-color: #ffc222;
     padding: 5px 20px 4px 50px;
     font-size: 16px;
     position: relative;
 }
.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    color: #1b1b1b;
    position: absolute;
    left:20px;

}
.header__contact:after{
    content:"";
    clear: both;
    display: block;
}

.header__phone,
.header__email{
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
    /*для иконки трубки*/
    position: relative;
}
.header__phone{
    padding: 0 30px 0 20px;
}
.header__phone:before{
/*    скачиваем с */
/*    копируем юникод телефона из fonts */
    content: "\f095";
/*    указать обязательно шрифт */
    font-family: 'icomoon';
    position: absolute;
    left: 0px;
    color: #ffc222;
}
.header__email{
    padding-left: 24px  ;
}
.header__email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left:  0px;
    color: #ffc222;
}
.header__content{
    padding: 34px 0px 23px;
}
.menu li {
    display: inline-block;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all 0.3s;
}
.menu a:hover{
    border-color: #ffc222;
}

/*свойства применяются к списку но кроме первого в списке*/
.menu li+li {
    padding-left: 10px;
}

/* всплывашка на кнопке
   =========================
*/
/* Start state */
.animated-modal {
    max-width: 550px;
    border-radius: 4px;
    overflow: hidden;

    transform: translateY(-50px);
    transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
    transform: translateY(-50px);
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
    transform: translateY(0);
    opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
    transition-delay: .3s;
}

.fancybox-slide--current .animated-modal p {
    transition-delay: .9s;
}
/*==========конец всплывашка =================*/

.slider{
    background-image: url("../img/slider-fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width:665px;
    margin:0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

/*сделаем класс для всех таких кнопочек  "Оставить Заявку"*/
.default-btn{
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;     /*толщина правой стороны кнопки*/
    position: relative;
    z-index: 2;
    outline: none;
}

.default-btn:after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: -12px;
    
}

/* .slider__inner{
    position: relative;
}
  */
/*этот класс из main.js в слике   (мы создали для 2х кнопок <<  и   >>  )*/
.slick__btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #ffc222;
    color:#fff;
    /*курсор над кнопочкой превращается в указатель*/
    cursor: pointer;
    /*    убираем синюю обводку на бордере*/
    outline: none;
    font-family: 'icomoon'
}

/* класс взят из консоли при нажатии на кнопки (он менялся) */
.slick-disabled{
    background-color: transparent;
    cursor: default;
}

.slick-prev {
    left: 0;
}
.slick-prev:before{
    content: "\f104";
}

.slick-next{
    right: 0;
}
.slick-next:before{
    content: "\f105";   
}

/* Секция наши услуги */
.services{
    padding: 50px 0px 30px 0px;
}

.services__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__title,
.form__title {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
/* yellow line */
.services__title:before,
.form__title:before {
    /* если включаем before  то обязательно content */
    content:"";       
    position: absolute;
    left:0;
    top: 10%;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
}
.services__title__head,
.form__title__head {
    font-size: 24px;
    font-weight: 500;
    color: #212020;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.services__title__text,
.form__title__text {
    letter-spacing: 0.1px;
}
.services__btn{
    font-weight: 500;
    line-height: 24px;
    color: #373636;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #e6e6e6;
    padding: 10px 35px 10px 35px;
    margin: 25px 0px;
}
.services__btn:hover{
    border-color: #ffc222;
}

.services__items{
    display: flex;
    justify-content: space-between;
}
.services__one{
    max-width: 360px ;
    text-align: center;
    padding: 30px 0 80px 0;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91,89,89,0.14);
}
.service__item-title{
    font-family: 'Roboto', sans-serif;
    tab-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #212020;
    padding: 24px 0;
}
.service__item-text{
    letter-spacing: 0.1px;
    padding: 0px 35px 30px;

}
.service__btns{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
} 

.service__btns
.default-btn{
    color: #373636;

}
.service__btns
.default-btn:after{
    color:#fff;
}
.service__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid  #050505;
    margin-right: 60px  ;
}

/* ABOUT */
.about{
    background-image: url(/img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 30px;
}
.about__inner{
    max-width: 540px;
}
.about__title{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}
.about__text{
    margin:30px 0px;
    line-height: 24px;
    color: #d3d2d2;   
}
.about__btn.default-btn:after{
    color:#000;
}

/* FORM */
